@import "variable.styl"

body, html, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, header, menu, section, p, input, td, th, ins {
    padding:0;
    margin:0;
}
body, textarea, select, input, button {
    font-size: $font-size;
    color: $color-background;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust:none;
}
section, header, main, article, aside, ins, nav {
    display:block;
}
html, body {
    width:1440px;
    height:100%;
    border:0;
    word-wrap:break-word;
    word-break:break-word;
    background: $backgound;
    color: $color-background;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
}
em, i {
    font-style:normal;
    text-align:left;
    font-size:inherit;
}
html, body, img, iframe {
    border:0;
}
textarea {
    resize:none;
    overflow:auto;
}
input:focus, textarea:focus, span:focus, a:focus, button:focus {
    outline:none;
}
li, s {
    list-style:none;
}
img, .txt {
    border:0;
}
mark {
    background:none;
}
[hidefocus] {
    outline:none;
}
a {
    text-decoration:none;
    color: $color-background;
}
a:hover {
    text-decoration:none;
    color: $color;
}
a, a *, .f-hand, .f-hand * ,.cursor{
    cursor:pointer;
}
table {
    border-collapse:collapse;
    border-spacing:0;
    table-layout:fixed;
}
select:focus {
    outline: none;
}
button {
    border:none;
    outline:none;
    cursor:pointer;
    padding:0;
    margin:0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:$color-background;
    font-weight: normal;
    font-size: $font-size-small;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:$color-background;
   font-weight: normal;
   font-size: $font-size-small;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:$color-background;
   font-weight: normal;
   font-size: $font-size-small;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:$color-background;
   font-weight: normal;
   font-size: $font-size-small;
}
.left{
    float: left
}
.right{
    float: right
}
.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.padding-bottom{
    padding-bottom: 30px
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: ' ';
  height: 0;
  font-size: 0;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.loading-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.gray{
  color: $color-gray
}
.color-main{
  color: $color-main !important
}
.selectAddress select {
    padding: 10px;
    background: #2b2b2b;
    margin-right: 10px;
    height: 34px;
    border-color: #3a3a3a;
    width: 130px;
}
.routerLink:hover{
  color: #fff
}
