//字体定义规范
$font-size-small = 12px
$font-size = 14px
$font-size-medium = 16px
$font-size-medium-x = 18px
$font-size-large = 20px
$font-size-large-x = 22px
$font-size-i-big = 26px


// 颜色定义规范
$color-main = #c52525
$color = #fff
$header-asid-background = #222222
$asid-background = #181818
$index-background = #1c1c1c
$backgound = #1c1c1c
$color-background = #a9a9a9
$color-background-d = rgba(0, 0, 0, 0.3)
$color-i = #787878
//
$aisde-width = 250px;